Repository Soluto/oidc-server-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c "tsc --noEmit", eslint --fix

ci: upgrade action versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
Due: prettier --write

ci: upgrade action versions (#144)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
Due: prettier --write

chore: upgrade packages mar 2024
  .eslintrc
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/package.json
  package-lock.json
  package.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade packages mar 2024 (#143)
  .eslintrc
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/package.json
  package-lock.json
  package.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade to dotnet 8.0
  src/Dockerfile
  src/Helpers/OptionsHelper.cs
  src/Middlewares/BasePathMiddleware.cs
  src/OpenIdConnectServerMock.csproj
Due: none

chore: upgrade to dotnet 8.0 (#146)
  src/Dockerfile
  src/Helpers/OptionsHelper.cs
  src/Middlewares/BasePathMiddleware.cs
  src/OpenIdConnectServerMock.csproj
Due: none

fix(cd): tag workflow
  .github/workflows/tag.yaml
Due: prettier --write

fix(cd): tag workflow (#147)
  .github/workflows/tag.yaml
Due: prettier --write

fix(build): platform in dockerfile
  src/Dockerfile
Due: none

fix(build): platform in dockerfile (#148)
  src/Dockerfile
Due: none

fix(build): nuget
  .github/workflows/tag.yaml
Due: prettier --write

fix(build): nuget (#149)
  .github/workflows/tag.yaml
Due: prettier --write

fix: docker image healthcheck
  src/Dockerfile
Due: none

fix: docker image healthcheck (#153)
  src/Dockerfile
Due: none

docs: add Dockerfile example
  README.md
Due: prettier --write

chore: upgrade root packages
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade test packages
  e2e/package.json
  package-lock.json
Due: prettier --write

chore: remove node-fetch module
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  package-lock.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade packages July 2024 (#157)
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  package-lock.json
  package.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

ci: upgrade github action versions - july 2024
  .github/workflows/pr.yaml
Due: prettier --write

ci: upgrade github action versions - july 2024 (#158)
  .github/workflows/pr.yaml
Due: prettier --write

chore: upgrade nuget libraries
  src/OpenIdConnectServerMock.csproj
Due: none

chore: upgrade nuget libraries (#159)
  src/OpenIdConnectServerMock.csproj
Due: none

docs: add Dockerfile example (#156)
  README.md
Due: prettier --write

Fix build for ARM64
  src/Dockerfile
Due: none

Fix Docker warnings (FromAsCasing)
  src/Dockerfile
Due: none

Use alpine instead of debian/ubuntu to shrink image size
  src/Dockerfile
Due: none

Fix build for ARM64 - part 2
  src/Dockerfile
Due: none

Use alpine instead of debian/ubuntu to shrink image size (#164)
  src/Dockerfile
Due: none

Add real support for multiarch (#163)
  src/Dockerfile
Due: none

chore: upgrade npm packages
  .eslintignore
  .eslintrc
  .github/workflows/pr.yaml
  .nvmrc
  .vscode/settings.json
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade npm packages (#166)
  .eslintignore
  .eslintrc
  .github/workflows/pr.yaml
  .nvmrc
  .vscode/settings.json
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

ci: run pr checks on mac
  .github/workflows/pr.yaml
  .github/workflows/reusable-pr.yaml
Due: prettier --write

fix: cors error if `BasePath` is set
  e2e/tests/base-path.spec.ts
  src/Middlewares/BasePathMiddleware.cs
  src/Program.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

ci: install tilt with bash command
  .github/workflows/pr.yaml
Due: prettier --write

ci: install tilt with bash command (#170)
  .github/workflows/pr.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.{json,yaml,yml,md})
  bash -c "tsc --noEmit": any of: **/*.ts
  eslint --fix: any of: **/*.ts
