Repository Soluto/oidc-server-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c "tsc --noEmit", eslint --fix

.lintstagedrc:

"**/*.js":
  - prettier --write
"**/*.ts":
  - bash -c "tsc --noEmit"
  - eslint --fix
  - prettier --write
"**/*.{json,yaml,yml,md}":
  - prettier --write

ci: test image before publish
  .github/workflows/tag.yaml
  Tiltfile
  e2e/docker-compose.override.yml
  e2e/package.json
  pnpm-lock.yaml
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

ci: test image before publish (#171)
  .github/workflows/tag.yaml
  Tiltfile
  e2e/docker-compose.override.yml
  e2e/package.json
  pnpm-lock.yaml
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

fix(ci): docker context
  .github/workflows/tag.yaml
Due: prettier --write

fix(ci): docker context (#172)
  .github/workflows/tag.yaml
Due: prettier --write

fix(ci): docker tag
  .github/workflows/tag.yaml
Due: prettier --write

fix(ci): docker tag (#173)
  .github/workflows/tag.yaml
Due: prettier --write

fix(ci): docker-compose yml
  e2e/docker-compose.override.yml
Due: prettier --write

fix(ci): docker-compose yml (#174)
  e2e/docker-compose.override.yml
Due: prettier --write

chore: upgrade nuget libraries
  .vscode/settings.json
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

chore: upgrade nuget libraries (#175)
  .vscode/settings.json
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

test: remove docker compose version
  README.md
  e2e/docker-compose.yml
Due: prettier --write

test: remove docker compose version (#176)
  README.md
  e2e/docker-compose.yml
Due: prettier --write

test: use env-var and base url
  e2e/.env
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/endpoints.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  pnpm-lock.yaml
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

test: use env-var and base url (#178)
  e2e/.env
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/endpoints.ts
  e2e/helpers/grants.ts
  e2e/helpers/introspect-endpoint.ts
  e2e/helpers/token-endpoint.ts
  e2e/helpers/user-info-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  pnpm-lock.yaml
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

fix: cors error if `BasePath` is set
  e2e/tests/base-path.spec.ts
  src/Middlewares/BasePathMiddleware.cs
  src/Program.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore(npm): upgrade packages
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
  e2e/helpers/grants.ts
  e2e/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore(npm): upgrade packages (#181)
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
  e2e/helpers/grants.ts
  e2e/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore(npm): upgrade nuget
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
  src/getui.sh
Due: none

chore(npm): upgrade nuget (#182)
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
  src/getui.sh
Due: none

chore: use pathBase middleware
  e2e/tests/__snapshots__/base-path.spec.ts.snap
  e2e/tests/base-path.spec.ts
  src/Helpers/AspNetServicesHelper.cs
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: use pathBase middleware (#179)
  e2e/tests/__snapshots__/base-path.spec.ts.snap
  e2e/tests/base-path.spec.ts
  src/Helpers/AspNetServicesHelper.cs
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: add CLAUDE.md with repo guidance for Claude Code
  CLAUDE.md
Due: prettier --write

chore: add CLAUDE.md with repo guidance for Claude Code (#183)
  CLAUDE.md
Due: prettier --write

fix(ci): replace on:create trigger with on:push:tags in tag.yaml
  .github/workflows/tag.yaml
Due: prettier --write

fix(ci): replace on:create trigger with on:push:tags in tag.yaml (#200)
  .github/workflows/tag.yaml
Due: prettier --write

chore(eslint): remove dead plugin dependencies
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint): remove dead plugin dependencies (#201)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove redundant pretty-quick from pre-commit hook
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(e2e): remove unnecessary type assertions in user-management spec
  e2e/tests/custom-endpoints/user-management.spec.ts
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: configure Dependabot for npm, NuGet, Docker, and GitHub Actions
  .github/dependabot.yml
Due: prettier --write

ci: add SBOM and build provenance attestation to docker image
  .github/workflows/tag.yaml
Due: prettier --write

ci: add inline comments for SBOM scope and deprecation notices
  .github/workflows/tag.yaml
Due: prettier --write

chore: remove redundant pretty-quick from pre-commit hook (#202)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(e2e): remove unnecessary type assertions flagged by ESLint
  e2e/tests/custom-endpoints/user-management.spec.ts
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore(ci): cache Tilt binary instead of curl-piped install
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
Due: prettier --write

fix(lint): use globals.node instead of globals.browser in ESLint config
  eslint.config.js
Due: prettier --write

ci: add smoke-docker job to build and health-check image on PR
  .github/workflows/pr.yaml
Due: prettier --write

fix(lint): use globals.node instead of globals.browser in ESLint config (#204)
  eslint.config.js
Due: prettier --write

chore(ci): cache Tilt binary instead of curl-piped install (#203)
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
  e2e/tests/custom-endpoints/user-management.spec.ts
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix
