Repository Soluto/oidc-server-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c "tsc --noEmit", eslint --fix

.lintstagedrc:

"**/*.js":
  - prettier --write
"**/*.ts":
  - bash -c "tsc --noEmit"
  - eslint --fix
  - prettier --write
"**/*.{json,yaml,yml,md}":
  - prettier --write

style: improve linting + commit msg (#113)
  .commitlintrc.yml
  .eslintignore
  .eslintrc
  .github/workflows/pr.yaml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  Tiltfile
  e2e/.eslintrc
  e2e/.huskyrc
  e2e/.lintstagedrc.json
  e2e/.prettierignore
  e2e/Tiltfile
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  e2e/tsconfig.json
  e2e/utils/wait-for.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

Support config in yaml format
  README.md
  e2e/config/api-resources.json
  e2e/config/api-resources.yaml
  e2e/config/api-scopes.json
  e2e/config/clients.json
  e2e/config/users.yaml
  e2e/docker-compose.yml
  e2e/helpers/introspect-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  package-lock.json
  src/Config.cs
  src/JsonConverters/SecretJsonConverter.cs
  src/OpenIdConnectServerMock.csproj
  src/Startup.cs
  src/YamlConverters/ClaimYamlConverter.cs
  src/YamlConverters/SecretYamlConverter.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

Support config in yaml format (#114)
  README.md
  e2e/config/api-resources.json
  e2e/config/api-resources.yaml
  e2e/config/api-scopes.json
  e2e/config/clients.json
  e2e/config/users.yaml
  e2e/docker-compose.yml
  e2e/helpers/introspect-endpoint.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  e2e/tests/flows/authorization-code.e2e-spec.ts
  e2e/tests/flows/client-credentials-flow.spec.ts
  e2e/tests/flows/implicit-flow.e2e-spec.ts
  e2e/tests/flows/password-flow.spec.ts
  package-lock.json
  src/Config.cs
  src/JsonConverters/SecretJsonConverter.cs
  src/OpenIdConnectServerMock.csproj
  src/Startup.cs
  src/YamlConverters/ClaimYamlConverter.cs
  src/YamlConverters/SecretYamlConverter.cs
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: migrate to Duende
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  e2e/config/account-options.json
  e2e/config/clients.json
  e2e/config/users.yaml
  e2e/docker-compose.yml
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/tests/custom-endpoints/__snapshots__/user-management.spec.ts.snap
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/__snapshots__/authorization-code-pkce.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/client-credentials-flow.spec.ts.snap
  e2e/tests/flows/__snapshots__/implicit-flow.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/password-flow.spec.ts.snap
  src/.dockerignore
  src/Config.cs
  src/Controllers/UserController.cs
  src/Dockerfile
  src/Helpers/AccountOptionsHelper.cs
  src/Helpers/AspNetServicesHelper.cs
  src/Helpers/MergeHelper.cs
  src/Helpers/OptionsHelper.cs
  src/JsonConverters/ClaimJsonConverter.cs
  src/Middlewares/BasePathMiddleware.cs
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
  src/Services/CorsPolicyService.cs
  src/Services/ProfileService.cs
  src/Startup.cs
  src/Validation/RedirectUriValidator.cs
  src/YamlConverters/ClaimYamlConverter.cs
  src/YamlConverters/SecretYamlConverter.cs
  src/getmain.sh
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: migrate to Duende (#115)
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  e2e/config/account-options.json
  e2e/config/clients.json
  e2e/config/users.yaml
  e2e/docker-compose.yml
  e2e/helpers/authorization-endpoint.ts
  e2e/helpers/grants.ts
  e2e/tests/custom-endpoints/__snapshots__/user-management.spec.ts.snap
  e2e/tests/custom-endpoints/user-management.spec.ts
  e2e/tests/flows/__snapshots__/authorization-code-pkce.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/client-credentials-flow.spec.ts.snap
  e2e/tests/flows/__snapshots__/implicit-flow.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/password-flow.spec.ts.snap
  src/.dockerignore
  src/Config.cs
  src/Controllers/UserController.cs
  src/Dockerfile
  src/Helpers/AccountOptionsHelper.cs
  src/Helpers/AspNetServicesHelper.cs
  src/Helpers/MergeHelper.cs
  src/Helpers/OptionsHelper.cs
  src/JsonConverters/ClaimJsonConverter.cs
  src/Middlewares/BasePathMiddleware.cs
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
  src/Services/CorsPolicyService.cs
  src/Services/ProfileService.cs
  src/Startup.cs
  src/Validation/RedirectUriValidator.cs
  src/YamlConverters/ClaimYamlConverter.cs
  src/YamlConverters/SecretYamlConverter.cs
  src/getmain.sh
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

License update in README
  README.md
Due: prettier --write

docs(README): update clients-config.json snippet
  README.md
Due: prettier --write

test(e2e): update clients.json
  e2e/config/clients.json
Due: prettier --write

docs(README): update clients-config.json snippet (#117)
  README.md
  e2e/config/clients.json
Due: prettier --write

chore: upgrade to .net7.0
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: none

build: update codeql workflow
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore: upgrade to .net7.0 (#119)
  .github/workflows/codeql-analysis.yml
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

build: update workflows actions versions
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
Due: prettier --write

build: update workflows actions versions (#120)
  .github/workflows/pr.yaml
  .github/workflows/tag.yaml
Due: prettier --write

tests: upgrade packages
  e2e/package.json
  package-lock.json
  package.json
Due: prettier --write

Embed frontend files into the assembly
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
Due: none

Github Action Containers login
  .github/workflows/tag.yaml
Due: prettier --write

Make a Nuget package
  .github/workflows/tag.yaml
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

Ignore runtime data files
  .gitignore
  src/.dockerignore
  src/OpenIdConnectServerMock.csproj
Due: none

Make a dotnet tool package (#121)
  .github/workflows/tag.yaml
  .gitignore
  src/.dockerignore
  src/OpenIdConnectServerMock.csproj
  src/Program.cs
Due: prettier --write

fix: set pkg version to 0.8.0
  src/OpenIdConnectServerMock.csproj
Due: none

fix: set pkg version to 0.8.0 (#122)
  src/OpenIdConnectServerMock.csproj
Due: none

feat: override standard idenity resources
  README.md
  src/Config.cs
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

feat: override standard idenity resources (#124)
  README.md
  src/Config.cs
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

chore: upgrade dependencies + downgrade to .net 6.x
  .eslintrc
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yaml
  e2e/jest.config.json
  e2e/jest.config.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/__snapshots__/user-management.spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code-pkce.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/implicit-flow.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/password-flow.spec.ts.snap
  package-lock.json
  package.json
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade dependencies + downgrade to .net 6.x (#125)
  .eslintrc
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yaml
  e2e/jest.config.json
  e2e/jest.config.ts
  e2e/package.json
  e2e/tests/base-path.spec.ts
  e2e/tests/custom-endpoints/__snapshots__/user-management.spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code-pkce.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/authorization-code.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/implicit-flow.e2e-spec.ts.snap
  e2e/tests/flows/__snapshots__/password-flow.spec.ts.snap
  package-lock.json
  package.json
  src/Dockerfile
  src/OpenIdConnectServerMock.csproj
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

forwarded headers configuration updated
  README.md
  src/Helpers/AspNetServicesHelper.cs
Due: prettier --write

forwarded headers configuration updated (#129)
  README.md
  src/Helpers/AspNetServicesHelper.cs
Due: prettier --write

chore: update packages - root project
  package-lock.json
  package.json
Due: prettier --write

chore: update packages - src
  src/OpenIdConnectServerMock.csproj
Due: none

fix: husky
  .husky/pre-commit
Due: none

chore: update packages - e2e
  e2e/package.json
  package-lock.json
Due: prettier --write

fix: eslint
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore:upgrade packages (#131)
  .husky/pre-commit
  e2e/package.json
  e2e/tests/flows/authorization-code-pkce.e2e-spec.ts
  package-lock.json
  package.json
  src/OpenIdConnectServerMock.csproj
Due: prettier --write, bash -c "tsc --noEmit", eslint --fix

chore: upgrade packages - nov 2023
  e2e/package.json
  package-lock.json
Due: prettier --write

chore: upgrade root packages - nov 2023
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade nuget - nov 2023
  src/OpenIdConnectServerMock.csproj
Due: none

chore: upgrade packages nov 2023 (#136)
  e2e/package.json
  package-lock.json
  package.json
  src/OpenIdConnectServerMock.csproj
Due: prettier --write

fix: switch to fixed ui version
  src/Dockerfile
  src/getui.sh
Due: none

fix: switch to fixed ui version (#145)
  src/Dockerfile
  src/getui.sh
Due: none
